@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.header-separator {
  background-color: #707070;
  height: 1.0625rem;
  width: 0.0625rem;
  display: block;
  content: '';
}

.product-wrapper img {
  transition: 0.25s ease-out;
}

.product-wrapper:hover img {
  transform: scale(1.08);
}

::-webkit-scrollbar {
  display: none;
}